/*
    Document   : learningCanvas.css
    Created on : 2015-05-28 06:17 PM
    Author     : SuperPowerDonkey
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/
