/*
    Document   : navbar.css
    Created on : 2015-05-26 06:20 PM
    Author     : SuperPowerDonkey
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

a {
  color:#20B2AA;
  text-decoration:none;
  
}
a:hover {
	color:#A52A2A;
	font-weight: bold;
	text-decoration: none;
	font-size:30px;
}

.toolbar{
  text-align:center;
}
.toolbarBox{
    display:inline-block;
    width:200px;
    color:green;
    border-style:solid;
    background-color:darkred;
  
  
  
  
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

.toolbarBox:hover{
  width: 400px;
  color:#8B000;
  border-style:solid;
  text-align:center;
  background-color:indigo;
  box-shadow: 10px 10px 5px #888888;
  
}